/* ADVANTAGES */
.advantages {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-grid-gap));
  margin-bottom: calc(-1 * var(--card-grid-gap));

  & .text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.advantages-item {
  width: calc(100% / 4 - var(--card-grid-gap));
  margin-right: var(--card-grid-gap);
  margin-bottom: var(--card-grid-gap);
}

.advantages-icon-container {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: $secondary-light-bg-color;
  border-radius: 4px;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

/* ADVANTAGES end */
/* ============================== */
