/* FOOTER */
.page-footer {
  color: $main-bg-color;
  background-color: $secondary-dark-bg-color;
}

/* contacts block */
.footer-wrapper-contacts {
  margin-bottom: 60px;
  text-align: center;

  @include screen(desktop) {
    text-align: initial;
  }
}

.page-adress {
  & .item:not(:last-child) {
    margin-bottom: 8px;

    @include screen(desktop) {
      margin-bottom: 9px;
    }
  }
}

.footer-adress {
  @include font(14px, 24px);
}

.footer-contacts {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @include transition-1-selector(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

/* social-links block */
.footer-wrapper-social {
  margin-bottom: 60px;
  text-align: center;

  @include screen(desktop) {
    text-align: initial;
  }
}

/* subscribe block */
.footer-subscribe-form {
  text-align: center;

  & .form-label {
    display: block;
  }
  & .form-input {
    min-width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    padding-left: 16px;

    background-color: transparent;
    color: $main-bg-color;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    @include screen(desktop) {
      min-width: 358px;
      margin-bottom: 0; //subscribe button is moving to be in the same line with input
      margin-right: 12px;
    }
  }

  @include screen(tablet) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @include screen(desktop) {
    width: 570px;
    margin: 0;
    text-align: initial;
  }
}

.footer-subscribe-inputs-wrapper {
  @include screen(desktop) {
    display: flex;
  }
}

/* FOOTER end */
/* ============================== */
