/* HEADER */
.page-header {
  border-bottom: 1px solid #ececec;
}

/* mobile menu */
.burger-btn,
.mobile-nav-close-btn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  border: 0;
  box-shadow: 0;

  &:focus,
  &:hover {
    color: $accent-color;
    cursor: pointer;
  }
}

.burger-btn {
  color: #000000;

  @include screen(tablet) {
    display: none;
  }
}

.burger-icon {
  width: 24px;
  height: 16px;
  fill: currentColor;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;

  font-weight: 500;
  letter-spacing: 0.02em;

  color: $title-text-color;
  background-color: $main-bg-color;
  border: var(--outline);

  overflow-x: scroll;
  opacity: 0;
  @include transition-2-selectors(opacity, transform);

  &.is-open {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }

  & .link {
    color: inherit;
  }
  @include screen(tablet) {
    display: none;
  }
}

.mobile-menu-nav {
  @include font(40px, 47px);

  & .link:focus,
  & .link:hover {
    color: $accent-color;
  }
}

.mobile-nav-item {
  margin-bottom: 32px;
}

.mobile-menu-contacts {
  margin-bottom: 64px;
  @include font(24px, 28px);
  color: $primary-text-color;
}

.mobile-contacts-item {
  margin-bottom: 32px;
  &:first-child {
    @include font(34px, 40px);
    color: $accent-color;
  }
}

.mobile-menu-social-links {
  display: flex;
  color: $accent-color;
}

.mobile-social-links-item {
  &:not(:last-child) {
    padding-right: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.mobile-nav-close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  color: inherit;

  &:focus {
    color: $accent-color;
  }
}

.mobile-nav-close-icon {
  width: 19px;
  height: 19px;
  fill: currentColor;
}
/* mobile menu end */

/* site nav */
.main-nav {
  display: flex;
  align-items: center;
}

// site-nav list styles
.site-nav {
  display: none;

  @include screen(tablet) {
    display: flex;
    & .active {
      color: $accent-color;
    }

    & .link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      color: $title-text-color;
      font-weight: 500;
      @include font(14px, 16px);
      letter-spacing: 0.02em;

      @include transition-1-selector(color);

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}

// nav-item styles
.nav-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }

  // nav-item underline
  & .link::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';
    opacity: 0;
    width: 100%;
    height: 4px;

    background-color: $accent-color;
    border-radius: 2px;
  }

  .active.link {
    &::after {
      opacity: 1;
    }
  }
}
/* site nav end*/

/* contacts */
.contacts {
  display: none;

  @include screen(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include screen(desktop) {
    flex-direction: initial;
  }
}

.contacts-item {
  @include screen(desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts-icon {
  @include screen(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;

    &.envelope {
      width: 16px;
      height: 12px;
    }

    &.smartphone {
      width: 10px;
      height: 16px;
    }
  }
}

.header-contacts {
  @include screen(tablet) {
    display: flex;
    align-items: center;

    padding-top: 5px;
    padding-bottom: 5px;

    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @include transition-1-selector(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  @include screen(desktop) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* HEADER end */
/* ============================== */
