/* PORTFOLIO */
.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px - 15px;

  @include screen(tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @include screen(desktop) {
    margin-bottom: 50px;
  }
}

.filter-item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.project-list {
  margin-bottom: calc(-1 * var(--card-grid-gap));

  @include screen(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--card-grid-gap));
  }
}

.project-item {
  margin-bottom: var(--card-grid-gap);

  border: 1px solid #eeeeee;

  & .link {
    display: block;
    box-shadow: 0;
    height: 100%;

    @include transition-1-selector(box-shadow);

    &:hover,
    &:focus {
      box-shadow: $shadow-portfolio-card-hover;
    }
  }

  @include screen(tablet) {
    flex-basis: calc(100% / 2 - var(--card-grid-gap));
    margin-right: var(--card-grid-gap);
  }

  @include screen(desktop) {
    flex-basis: calc(100% / 3 - var(--card-grid-gap));
  }
}

.description {
  .project-list & {
    color: $primary-text-color;
    @include font(16px, 30px);
  }
}

.project-description-wrapper {
  padding: 20px 24px;
  background-color: $main-bg-color;
}

/* proect overlay */
.project-photo-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  .project-item & {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(102%);

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 24px;

    color: $main-bg-color;
    background-color: rgba(33, 150, 243, 0.9);
    @include font(18px, 28px);
    text-align: center;

    @include transition-1-selector(transform);
  }

  .project-item .link:hover &,
  .project-item .link:focus & {
    transform: translateY(0);
  }
}

/* PORTFOLIO end */
/* ============================== */
