/* TEAM */
.team {
  background-color: $secondary-light-bg-color;
}

.team-list {
  margin-bottom: calc(-1 * var(--card-grid-gap));

  @include screen(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--card-grid-gap));
  }
}

.team-item {
  margin-bottom: var(--card-grid-gap);

  background-color: $main-bg-color;
  border-radius: 0 0 4px 4px;
  box-shadow: $shadow-team-card;

  @include screen(tablet) {
    width: calc(100% / 2 - var(--card-grid-gap));
    margin-right: var(--card-grid-gap);
  }

  @include screen(desktop) {
    width: calc(100% / 4 - var(--card-grid-gap));
  }
}

.team-description-wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.position {
  .team & {
    margin-bottom: 16px;

    @include font(16px, 19px);
    text-align: center;
  }
}

/* TEAM end */
/* ============================== */
