/* logo  */
.logo {
  font-family: $logo-font-family;
  font-weight: 700;
  @include font(24px, 28px);

  @include screen(desktop) {
    @include font(26px, 31px);
  }
}

.logo-span {
  .header-logo &,
  .footer-logo & {
    color: $accent-color;
  }
}

.header-logo {
  color: $title-text-color;
  padding-top: 6px;
  padding-bottom: 6px;

  @include screen(tablet) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @include screen(desktop) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: $main-bg-color;
}
