/* section title */

.section-title {
  // margin-top: 0;
  margin-bottom: 50px;

  color: $title-text-color;

  font-weight: 700;
  @include font(28px, 33px);
  text-align: center;

  @include screen(desktop) {
    @include font(36px, 42px);
  }
}
