.container {
  width: 100%;
  padding: 0 15px;

  border: var(--outline);
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

// .container {
//   width: 1200px;
//   margin: 0 auto;
//   padding-top: 94px;
//   padding-bottom: 94px;
//   padding-left: 15px;
//   padding-right: 15px;
// }

// .header-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding-top: 0;
//   padding-bottom: 0;
// }

// .hero-container {
//   padding: 200px 0;
//   text-align: center;
// }

// .whatwedo-container {
//   padding-top: 0;
// }

// .footer-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: baseline;
//   padding-top: 60px;
//   padding-bottom: 60px;

//   color: $main-bg-color;
// }
