.container {
  width: 100%;
  padding: 60px 15px;
  margin: 0 auto;

  border: var(--outline);

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @include screen(tablet) {
    width: 768px;
  }

  @include screen(desktop) {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;

  @include screen(tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.hero-container {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  @include screen(desktop) {
    padding: 200px 0;
  }
}

.whatwedo-container {
  display: none;

  @include screen(desktop) {
    display: block;
    padding-top: 0;
  }
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;

  align-items: center;

  @include screen(tablet) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    flex-wrap: wrap;
  }

  @include screen(desktop) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
