/* colors */
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$main-bg-color: #ffffff;
$secondary-light-bg-color: #f5f4fa;
$secondary-dark-bg-color: #2f303a;
$icon-light-grey-color: #afb1b8;

/* fonts */
$main-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Raleway', sans-serif;

/* shadows */
$shadow-team-card: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

$shadow-portfolio-card-hover: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

$shadow-filter-button-hover: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

:root {
  --card-grid-gap: 30px;
}
/* ============================== */
